.form-label {
  color: #000;
  width: 100%;
  text-align: left;
}

.form-input {
  color: #000;
  width: -webkit-fill-available;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-text-area {
  color: #000;
  width: -webkit-fill-available;
  height: 100px;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-input:focus, .form-text-area:focus {
  outline: none;
  box-shadow: 0px 4px 12px #ccc;
}

.form-contacts-container {
  position: static;
  display: grid;
  margin: 0 auto;
  width: 800px;
}

.name-form {
  margin-bottom: 12px;
  text-align: left;
  float: left;
  width: 380px;
}

.email-form {
  margin-bottom: 12px;
  text-align: left;
  float: right;
  width: 380px;
}

.subject-form {
  margin-bottom: 12px;
  text-align: left;
}

.message-form {
  margin-bottom: 12px;
  text-align: left;
}

.message-form textarea {
  resize: none;
}

.form-button {
  width: 100%;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #8fb98a;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 30px;
  transition-duration: 1s;
}

.form-button:hover {
  background-color: #363636;
  cursor: pointer;
}

.form-button-disabled {
  width: 100%;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #8fb98a;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 30px;
  opacity: 0.5;
}

.form-button-disabled:hover {
  cursor: no-drop;
}