.footer {
    height: 300px;
    background-color: var(--global-dark-green);
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 20px;
    position: relative;
}

.footer-logo {

    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    border-bottom: 1px solid white;
}

.footer-logo img {
    width: 230px;
}

.footer-sites {
    width: 570px;
    margin: 40px auto 24px auto;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.footer-info {
    width: 100%;
    height: 24px;
    margin-top: 20px;
    padding: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.footer-sites span {
    font-weight: 100;
}

.footer-copy {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}

/* .booking-badge {
    position: absolute;
    right: 0px;
    width: 200px;
    z-index: 0;
    height: 60px;
    background-color: var(--global-booking-blue);
    color: var(--global-white);
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.booking-badge span {
    margin-top: 5px;
    height: 28px;
    width: 172px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid var(--global-booking-cian);
}

.booking-rate {
    width: 60px;
    height: 60px;
    display: flex;
    margin-right: -30px;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    background-color: var(--global-booking-cian);
    color: var(--global-white);
    border-radius: 10px;
} */

.ribbon {
    cursor: pointer;
    position: absolute;
    top: -14px;
    right: 20px;
    color: white;
    font-size: 12px;
}

.ribbon:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 104px solid transparent;
    border-right: 96px solid transparent;
    border-top: 26px solid var(--global-booking-blue);
}

.ribbon span {
    position: relative;
    display: block;
    text-align: center;
    background:
        var(--global-booking-blue);
    line-height: 36px;
    padding-top: 20px;
    border-top-right-radius: 16px;
    width: 200px;
}

.ribbon span .booking {
    display: inline-flex;
    font-size: 24px;
    font-weight: 800;
}

.ribbon span .booking>div {
    color: var(--global-booking-cian);
}

.ribbon span .rate {
    font-size: 42px;
    font-weight: 800;
    padding: 10px;
}

.ribbon span:before, .ribbon span:after {
    position: absolute;
    content: "";
}

.ribbon span:before {
    height: 14px;
    width: 16px;
    left: -10px;
    top: 0;
    background: var(--global-booking-blue);
}

.ribbon span:after {
    height: 14px;
    width: 24px;
    left: -24px;
    top: 0;
    border-radius: 16px 16px 0 0;
    background: var(--global-booking-cian);
}

@media (max-width: 1100px) {
    .booking-badge {
        display: none;
    }

    .footer {
        height: 360px;
    }

    .footer-sites {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .footer-info {
        font-size: 14px;
    }

    .footer-copy {
        font-size: 10px;
    }
}

@media (min-width: 500px) {

    .footer-info {
        font-size: 18px;
    }

    .footer-copy {
        font-size: 14px;
    }
}