.splitter-container {
    width: 100%;
    padding: 0;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.splitter-container::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    border-width: 0;
    width: 47%;
    border-style: solid;
    border-color: var(--global-middle-grey);
    border-bottom-width: 1px;
}

.splitter-container::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    border-width: 0;
    width: 47%;
    border-style: solid;
    border-color: var(--global-middle-grey);
    border-bottom-width: 1px;
}

.splitter-bar {
    height: 30px;
    font-size: 36px;
    color: var(--global-light-green);
}

.splitter-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    width: 100%;
    float: right;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    font-weight: 600;
    color: var(--global-dark-green);
}

.splitter-title-label {
    width: 300px;
    margin: 0 auto;
}

.splitter-title-button {
    display: inline-flex;
    float: left;
    margin-left: 20px;
}

.splitter-title-button a {
    color: var(--global-white);
    padding: 10px 13px;
}

.splitter-title-button button {
    width: 200px;
    text-transform: uppercase;
    border: none;
    background-color: var(--global-light-green);
    font-size: 12px;
    padding: 12px 0;
    border-radius: 5px;
    transition-duration: 1s;
}

.splitter-title-button button:hover {
    background-color: var(--global-brown);
    cursor: pointer;
}

.splitter-subtitle {
    font-size: 16px;
    color: var(--global-dark-grey);
    width: 90vw;
    margin: 0 auto;
}

.splitter-subtitle-services {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services {
    width: 255px;
    font-size: 16px;
    display: grid;
    color: var(--global-dark-green);
    font-weight: 600;
    align-items: center;
    margin-bottom: 30px;
}

.services svg {
    margin: 0 auto;
    color: var(--global-light-green);
    font-size: 46px;
}

.splitter-vr-button {
    display: inline-flex;
    float: right;
    margin-right: 20px;
}

.splitter-vr-button a {
    color: var(--global-white);
    padding: 10px 58px;
}

.splitter-vr-button button {
    width: 200px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--global-light-green);
    font-size: 12px;
    padding: 12px 0;
    height: 32px;
    border-radius: 5px;
    transition-duration: 1s;
}

.splitter-vr-button button:hover {
    background-color: var(--global-brown);
    cursor: pointer;
}


@media (min-width: 680px) {

    .splitter-container::after, .splitter-container::before {
        width: 44%;
    }

    .splitter-vr-button a {
        color: var(--global-white);
        padding: 10px 5px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 430px) {
    .services svg {
        font-size: 26px;
    }

    .services {
        width: 200px;
        font-size: 10px;
    }
}

@media screen and (max-width: 700px) and (min-width: 430px) {
    .splitter-title-button button {
        width: 100px;
        font-size: 8px;

    }

    .splitter-title-button a {
        padding: 6px 0px;
    }

    .splitter-vr-button button {
        width: 100px;
        font-size: 8px;
        height: 24px;
    }

    .splitter-vr-button a {
        padding: 6px 0px;
    }

    .splitter-title-label {
        width: 190px;
    }

    .splitter-title {
        font-size: 20px;
    }

    .splitter-subtitle {
        font-size: 12px;
    }

    .splitter-container::after, .splitter-container::before {
        width: 40vw;
    }

    .splitter-container {
        margin-top: 20px;
    }

    .splitter-subtitle-services {
        margin-top: 30px;
    }
}

@media screen and (max-width: 430px) and (min-width: 300px) {
    .services svg {
        font-size: 18px;
    }

    .services {
        width: 150px;
        font-size: 10px;
    }

    .splitter-title-button button {
        width: 100px;
        font-size: 8px;

    }

    .splitter-title-button a {
        padding: 6px 0px;
    }

    .splitter-vr-button button {
        width: 100px;
        font-size: 8px;

    }

    .splitter-vr-button a {
        padding: 6px 0px;
    }

    .splitter-title-label {
        width: 190px;
    }

    .splitter-title {
        font-size: 16px;
    }

    .splitter-subtitle {
        font-size: 12px;
    }

    .splitter-container::after, .splitter-container::before {
        width: 40vw;
    }

    .splitter-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .splitter-subtitle-services {
        margin-top: 30px;
    }
}

@media (min-width: 1100px) {

    .splitter-container::after, .splitter-container::before {
        width: 46%;
    }
}