.top-nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--global-dark-green);
    color: #FFF;
    height: 60px;
    width: 100%;
    z-index: 3;
    text-transform: uppercase;
    box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
}

.top-nav img {
    height: 50px;
    margin-left: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 70px;
}

.menu>li {
    overflow: hidden;
    height: 70px;
    align-items: center;
    display: flex;
}

.menu>li a {
    color: var(--global-white);
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
    transition-duration: 1s;
}

.menu>li a:hover {
    color: var(--global-light-green);
    cursor: pointer;
}

.menu>li svg {
    margin-right: 10px;
    font-size: 18px;
    color: var(--global-light-green);
    min-width: 18px;
}

.menu>li:not(:last-child) {
    margin: 0 8rem;
}

.menu>li button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: var(--global-light-green);
    color: var(--global-white);
    font-size: 16px;
    text-transform: uppercase;
    transition-duration: 1s;
}

.menu>li button a {
    text-decoration: none;
    color: var(--global-white);
    padding: 26px 42px;
}

.menu li:last-child {
    margin-left: 20px;
}

.menu>li button:hover {
    background-color: var(--global-brown);
    color: var(--global-white);
    cursor: pointer;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 24px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 1300px) {
    .menu>li a {
        font-size: 14px;
    }

}


@media (max-width: 1100px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 60px;
        height: 230px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }


    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }

    #menu-toggle:checked~.menu li {
        border-bottom: 1px solid #333;
        height: 100%;
    }

    #menu-toggle:checked~.menu li:last-child {
        border: none;
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: var(--global-dark-green);
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

}

@media screen and (max-width: 1300px) and (min-width: 1100px) {
    .menu>li:not(:last-child) {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1300px) {
    .menu>li:not(:last-child) {
        margin: 0 3rem;
    }
}

@media screen and (max-width: 1900px) and (min-width: 1500px) {
    .menu>li:not(:last-child) {
        margin: 0 5rem;
    }
}

.button-translation {
    height: 40px;
    margin-top: 70px;
    position: fixed;
    z-index: 3;
    margin-left: 15px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.button-translation img {
    width: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.button-translation img:hover {
    opacity: 0.5;
}

.button-translation .button-active {
    transform: scale(1.4);
}

.button-translation button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    margin-left: auto;
    border-radius: 5px;
    transition-duration: 1s;
}


@media screen and (max-width: 700px) and (min-width: 300px) {

    .button-translation {
        height: 30px;
    }

    .button-translation button {
        height: 30px;
        width: 30px;
    }

    .button-translation img {
        width: 20px;
    }
}