.top-bar {
    height: 80px;
    background-color: #425141;
    display: flex;
    width: 100%;
    align-items: center;
}

.top-bar img {
    height: 60px;
    margin-left: 4%;
}

.top-bar button {
    height: 100%;
    width: 170px;
    border: none;
    background-color: #8fb98a;
    color: #ffffff;
    font-size: 20px;
    margin-left: auto;
    transition-duration: 1s;
}

.top-bar button:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}


.info {
    margin-left: 7%;
    height: 20px;
    display: flex;
    align-items: center;
}

.info a {
    color: #ffffff;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    transition-duration: 1s;
}

.info svg {
    color: #8fb98a;
    font-size: 22px;
}

.info a:hover {
    color: #8fb98a;
    cursor: pointer;
}