.App {
  text-align: center;
}

.App .watsapp-button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #075E54;
  color: #ffffff;
  font-size: 24px;
}

.watsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
}