.App {
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.App .watsapp-button {
  width: 60px;
  height: 60px;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  background-color: #075E54;
  color: #ffffff;
  border-radius: 5px;
  font-size: 32px;
  box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.201)
}

.watsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.App-content {
  height: 100%;
}

.button-to-top {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8fb98a;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  transition-duration: 1s;
  font-size: 20px;
  box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.121)
}

.button-to-top:hover {
  cursor: pointer;
  background-color: #425141;
  color: #ffffff;
}

/* Scrollbar style */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8fb98a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #425141;
}