.App {
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.App .whatsapp-button {
  width: 60px;
  height: 60px;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  background-color: var(--global-wa-green);
  color: var(--global-white);
  border-radius: 5px;
  font-size: 32px;
  box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.201)
}

@media (max-width: 600px) {
  .App .whatsapp-button {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.App-content {
  height: 100%;
}

.button-to-top {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--global-light-green);
  color: var(--global-white);
  border-radius: 5px;
  border: none;
  transition-duration: 1s;
  font-size: 20px;
  box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.121)
}

.button-to-top:hover {
  cursor: pointer;
  background-color: var(--global-dark-green);
  color: var(--global-white);
}

/* Scrollbar style */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--global-light-green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--global-dark-green);
}