:root {
  --global-dark-green: #425141;
  --global-black: #000000;
  --global-white: #ffffff;
  --global-brown: #363636;
  --global-light-green: #8fb98a;
  --global-light-grey: #f2f2f2;
  --global-middle-grey: #cccccc;
  --global-dark-grey: #999999;
  --global-wa-green: #075E54;
  --global-fail: #d7726a;
  --global-booking-blue: #003b95;
  --global-booking-cian: #006ce4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  user-select: none;
}

a {
  color: #8fb98a;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #425141;
}